:root {
  /** brand colors **/
  --background-dark-blue: #060026;

  /* Backgrounds */
  --background-primary: #f2f4f9;

  /* Base colors */
  --color-white: #fff;
  --color-black: #000;

  /* font-sizes */
  --font-size-base: 10px;
  --font-size-xs: 1.8rem;
  --font-size-sm: 2.4rem;
  --font-size-md: 2.8rem;
  --font-size-lg: 4rem;
}

/* Reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.125;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

/* HTML Elements*/
body {
  background: rgb(2, 0, 36);
  padding-bottom: 3rem;
}

button {
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  box-shadow: 0.5rem 0.1rem 1rem 0.3rem rgba(0, 0, 0, 0.25),
    0.1rem 0.6rem 0.6rem rgba(0, 0, 0, 0.35), 0.1rem 0.1rem rgba(0, 0, 0, 0.45);
}

/* Components */
.site-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  letter-spacing: 0.6rem;
}

.site-header__title {
  color: var(--color-white);
  font-size: var(--font-size-lg);
  font-weight: 500;
  border-bottom: 0.2rem solid;
}

.site-header__dark-mode {
  color: var(--color-white);
  height: 4rem;
  width: 4rem;
}

.site-header__dark {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.5rem 3rem 0 0;
  height: auto;
  width: auto;
  box-shadow: none;
  padding: 0;
}

.site-content {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.site-content__create-task {
  width: 50%;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .site-content__create-task {
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
  }
}

.site-content #add-task-text {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  flex: 1;
  padding: 1rem 4rem 1rem 1rem;
  margin-right: 1rem;
  font-size: var(--font-size-xs);
}

.site-content #add-task-text::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: var(--font-size-xs);
}

.site-content__create-task #add-task {
  position: absolute;
  right: 38vw;
  z-index: 2;
  background-color: rgba(12, 0, 80, 0.6);
  color: white;
}

.site-content #filter-tasks {
  height: 3.5rem;
  width: calc(25% - 1.3rem);
  background-color: rgba(255, 255, 255, 0.6);
  font-size: var(--font-size-xs);
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 768px) {
  .site-content__create-task #add-task {
    right: 7%;
    margin-top: 0.5rem;
  }

  .site-content__create-task #add-task-text {
    width: 100%;
    margin-bottom: 3rem;
  }

  .site-content__create-task #filter-tasks {
    width: 50%;
  }
}

.site-content__new-task {
  background-color: #0c0050;
  margin-top: 3rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 50vw;
  height: auto;
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.2rem 0.8rem 1.5rem 1rem rgba(0, 0, 0, 0.25),
    0.4rem 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.35),
    0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.45);
}

.site-content__new-task--name {
  width: calc(100% - 8rem);
  display: flex;
}

.site-content__new-task #name-task {
  color: #b9a8ff;
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.site-content__new-task--buttons {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.site-content__new-task--button {
  background-color: #34cfeb;
  color: white;
  margin-right: 1rem;
  padding: 0.2rem 0 0;
  position: relative;
  z-index: 1;
}

.site-content__new-task--button img {
  height: 90%;
  width: 90%;
  position: relative;
  z-index: -1;
}

.site-content__new-task--button:last-child {
  background-color: red;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .site-content__new-task {
    width: 85vw;
    max-width: 90vw;
  }
  .site-content__new-task--name #name-task {
    font-size: var(--font-size-xs);
  }
  .site-content__new-task--buttons {
    flex-direction: column;
    align-items: flex-end;
  }
  .site-content__new-task--button.edit{
    margin: 0 0 1rem 0;
  }
}

.is-check {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: line-through;
  height: 5rem;
  margin-left: 0.7rem;
  width: calc(50vw - 2rem);
}

.is-check .site-content__new-task--button {
  height: 2.5rem;
  width: 2.5rem;
}

.is-check.site-content__new-task #name-task {
  font-size: var(--font-size-xs);
}

input[type="checkbox"] {
  align-self: center;
  margin-right: 1rem;
}

.site-content__new-task--rename {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 3rem;
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.site-content__task-list--edit-task {
  width: 100%;
}

.site-content__new-task--rename::pl

aceholder {
  font-size: var(--font-size-xs);
  color: #666666;
}
