/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.125;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #020024;
  padding-bottom: 3rem;
}

button {
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  box-shadow: 0.5rem 0.1rem 1rem 0.3rem rgba(0, 0, 0, 0.25), 0.1rem 0.6rem 0.6rem rgba(0, 0, 0, 0.35), 0.1rem 0.1rem rgba(0, 0, 0, 0.45);
}

.site-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  letter-spacing: 0.6rem;
}
.site-header__title {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  border-bottom: 0.2rem solid;
}
@media (max-width: 768px) {
  .site-header__title {
    font-size: 44px;
  }
}

.site-content {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  flex-direction: column;
}
.site-content__create-task {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .site-content__create-task {
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
  }
}
.site-content #add-task-text {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  flex: 1;
  padding: 1rem 4rem 1rem 1rem;
  margin-right: 1rem;
  font-size: 18px;
}
.site-content #add-task-text::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}
.site-content__create-task #add-task {
  position: absolute;
  right: 30vw;
  z-index: 2;
  background-color: #6c7a89;
  color: #fff;
  margin: 0 0.4rem 0.1rem 0;
}
.site-content #filter-tasks {
  height: 3.5rem;
  width: calc(25% - 13px);
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .site-content__create-task #add-task {
    right: 7%;
    margin-top: 0.5rem;
  }
  .site-content__create-task #add-task-text {
    width: 100%;
    margin-bottom: 3rem;
  }
  .site-content__create-task #filter-tasks {
    width: 50%;
  }
}
.site-content__task-list {
  display: flex;
  align-items: center;
  min-width: 80vw;
  flex-direction: column;
}
.site-content__new-task {
  display: flex;
  align-items: center;
  background-color: #67809f;
  margin-top: 3rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 70vw;
  height: auto;
  min-height: 6rem;
  justify-content: space-between;
  box-shadow: 0.2rem 0.8rem 1.5rem 1rem rgba(0, 0, 0, 0.25), 0.4rem 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.35), 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.45);
}
.site-content__new-task--name {
  width: calc(100% - 8rem);
  display: flex;
}
.site-content__new-task #name-task {
  color: #020024;
  font-size: 24px;
  font-weight: 400;
}
.site-content__new-task--buttons {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}
.site-content__new-task--button {
  background-color: #34b9db;
  color: #fff;
  margin-right: 1rem;
  padding: 0.2rem 0 0;
  position: relative;
  z-index: 1;
}
.site-content__new-task--button img {
  height: 90%;
  width: 90%;
  position: relative;
  z-index: -1;
}
.site-content__new-task--button:last-child {
  background-color: #ef4836;
  margin: 0;
}
@media (max-width: 768px) {
  .site-content__new-task {
    width: 85vw;
    max-width: 90vw;
  }
  .site-content__new-task--name #name-task {
    font-size: 18px;
  }
  .site-content__new-task--buttons {
    flex-direction: column;
    align-items: flex-end;
  }
  .site-content__new-task--button.edit {
    margin: 0 0 0.5rem;
  }
}

.is-check {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: line-through;
  height: 5rem;
  margin-left: 0.7rem;
  width: calc(65vw - 2rem);
}
.is-check .site-content__new-task--button {
  height: 2.5rem;
  width: 2.5rem;
}
.is-check #name-task {
  font-size: 18px;
  color: #67809f;
}
.is-check .site-content__new-task--buttons {
  width: 6rem;
}

input[type=checkbox] {
  align-self: center;
  margin-right: 1rem;
}

.site-content__new-task--rename {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 3rem;
  font-size: 18px;
  font-weight: 400;
}

.site-content__task-list--edit-task {
  width: 100%;
}

.site-content__new-task--rename::placeholder {
  font-size: 18px;
  color: #666;
}

@media (max-width: 768px) {
  .site-content__task-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .is-check {
    width: 70vw;
    height: auto;
  }
}
.save {
  background-color: green;
}

.error {
  border: 3px solid #ef4836;
}

/*# sourceMappingURL=style.css.map */
